/*-----FONTS-----*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/*-----RESETS-----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/*-----CSS VARIABLES-----*/
:root {
	/*FONTS*/
	--title-font: 'Poppins', sans-serif;
	--text-font: 'DM Sans', sans-serif;

	/*COLORS*/
	--primary-color: hsl(231, 24%, 16%);
	--primary-color-transparent: hsla(231, 24%, 16%, 0);
	--secondary-color: hsl(231, 15%, 17%);
	--terciary-color: hsl(231, 24%, 28%);
	--light-red: hsl(0, 77%, 65%);
	--white: hsl(0, 0%, 100%);
}

/*-----PATTERNS-----*/
.underline {
	display: inline-block;
	border-bottom: 3px solid var(--light-red);
	height: 4rem;
}

.section-title {
	font: 700 3rem var(--title-font);
	color: var(--white);
}

.section {
	padding: 4.375rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button {
	background-color: var(--light-red);
	color: var(--white);
	padding: 1rem 2rem;
	font: 700 1rem var(--title-font);
	border-radius: 0.5rem;
	transition: color 0.5s ease;
	margin-top: 1rem;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
}

.button:hover {
	color: var(--primary-color);
}

/*-----HEADER-----*/
header {
	background-color: var(--primary-color);
	height: 3.75rem;
	width: 100%;
	position: fixed;
	z-index: 10;
	transition: 0.5s ease;
}

header nav {
	max-width: 75rem;
	width: 100%;
	height: inherit;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

header nav i {
	opacity: 0;
	visibility: hidden;
	display: none;
	font-size: 2rem;
	color: var(--white);
}

header a {
	color: var(--white);
	font: 700 2rem var(--title-font);
}

header a span {
	color: var(--light-red);
}

header ul {
	display: flex;
}

header ul li {
	margin: 0 0.6rem;
}

header ul li a {
	font-size: 1.2rem;
	color: var(--white);
	transition: 0.5s ease;
}

header ul li a:hover {
	color: var(--light-red);
}

header ul.show {
	width: 100%;
	height: 100vh;
	position: fixed;
	opacity: 1;
	visibility: visible;
	display: flex;
	top: 0;
	left: 0;
	background-color: var(--primary-color);

	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	font-size: 2rem;
}

header ul.show a {
	font-size: 2rem;
}

.icon-close.show {
	opacity: 1;
	visibility: visible;
	display: inline-block;
	position: fixed;
	top: 20px;
	right: 20px;

	cursor: pointer;
}

/*-----HOME-----*/
#Home {
	background-image: url('Images/bg-home.jpg');
	background-size: cover;
	background-position: center;
	/*height: 100vh;*/
	width: 100%;
	position: relative;
	padding-top: 3.75rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter {
	height: 100%;
	width: 100%;
	background-color: #1f1816;
	opacity: 0.56;
	position: absolute;
	top: 0;
	left: 0;
}

#Home img {
	height: 13rem;
	width: 13rem;
	clip-path: circle();
	z-index: 1;
	margin-top: 3.5rem;
	margin-bottom: 2rem;
}

#Home h1 {
	font: 700 3.5rem var(--title-font);
	color: var(--light-red);
	text-align: center;
	line-height: 3rem;
	z-index: 1;
	margin: 1rem 0;
}

#Home h2 {
	font: 500 1.5rem var(--text-font);
	color: var(--white);
	z-index: 1;
}

#Home a {
	font-size: 3rem;
	margin-top: 1rem;
	color: var(--white);
	z-index: 1;
	transition: 0.5s ease;
}

#Home a:hover {
	transform: translateY(-10px);
}

/*-----ABOUT-----*/
#About {
	background-color: var(--secondary-color);
}

#About h2 {
	margin-bottom: 1rem;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#About img {
	height: 19rem;
	padding: 0.5rem;
	border: 3px solid var(--light-red);
	margin-right: 1rem;
}

#About .text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#About p {
	color: var(--white);
	font: 500 1.125rem var(--text-font);
	max-width: 24rem;
	padding: 1rem;
}

/*-----PROJECTS-----*/
#Projects {
	background-color: var(--terciary-color);
}

.cards {
	margin: 1rem;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 50px;
	grid-template-areas: 'image' 'text';
	background: var(--white);
	border-radius: 1rem;
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.4);
	margin: 1rem;
	position: relative;
}

.card-img {
	grid-area: image;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background-image: url('Images/bg-home.jpg');
	background-size: cover;
}

.card-text {
	grid-area: text;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-text h3 {
	font: 700 1.5rem var(--title-font);
	color: var(--primary-color);
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: var(--primary-color);
	border-radius: 0.7rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	opacity: 0;
	transition: 0.5s ease;
}

.overlay p {
	font: 700 1.125rem var(--text-font);
	color: var(--white);
	margin: 1rem;
	line-height: 1.4rem;
}

.overlay a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay a i {
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.overlay:hover {
	opacity: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
}

/*-----BLOG-----*/

/*-----CONTACT-----*/
#Contact {
	background-color: var(--light-red);
}

.icones ul {
	display: flex;
	font-size: 2rem;
	align-items: center;
}

.icones ul li {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
	margin: 0.25rem;

	transition: 0.5s ease;
}

.icones ul li a {
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	width: 2rem;
}

.icones ul li:hover {
	transform: translateY(-10px);
}

#Contact p {
	font: 500 1.25rem var(--text-font);
	color: var(--white);
	margin-top: 1rem;
}

/*----------MEDIA QUERIES----------*/
@media (max-width: 750px) {
	header ul {
		opacity: 0;
		visibility: hidden;
		display: none;
	}

	.icon-menu {
		opacity: 1;
		visibility: visible;
		display: inline-block;
	}
}

@media (max-width: 650px) {
	#About img {
		height: 17rem;
		margin-right: 0;
	}
}

@media (min-width: 750px) {
	header.onTop {
		background-color: var(--primary-color-transparent);
		height: 5rem;
	}
}
